body {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
}

.img {
  border: 3px solid #d5ebcf;
  border-radius: 30px;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.foto {
  background-color: black;
  display: block;
  padding-left: 20px 10px 15px;
  
  & img {
    width: 200px;
  }
}

/* .foto img {
    width: 200px;
} */

.promo {
    text-align: center;
    color: red;
}

.cod {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    padding: 10px 15px;
    color: black;
    border: 2px dotted black;
    border-radius: 15px;

    & p {
        text-align: center;
        font-weight: bold;
    }
}

button {
  background-color: orangered;
  color: whitesmoke
}